<div class="label-box">
    <div class="label-list">
        <div class="item">
            <div class="tr_0"></div><div class="tr_l"></div><div class="tr_m1"><div class="content-area"><div class="content-areaA"><span class="CollectionYear">
                1960年
                </span><span class="CollectionValue">
                    贰圆券(百连)
                    </span></div><div class="content-areaB"><span class="CollectionName">
                        正背面凹印
                        </span><span class="PrintArt">
                            车床工人
                            </span></div><div class="content-areaC">《ⅥⅠⅠ》4958609</div>
                </div>
            </div><div class="tr_m2">
                <div class="YS EditionPersonalization">五星水印</div>
            </div>
            <div class="tr_m3">
                <div class="top-text"><div class="top-left Rating">68</div><div class="top-right HQP">H<br>Q<br>P</div></div>
                <div class="bottom-text RatingEnglish">Superb Gem Unc</div>
            </div>

            <div class="tr_0"></div>
        </div>
    </div>
</div>