################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/YS.Admin.Business/YS.Admin.Business/obj
/YS.Admin.Business/YS.Admin.Business/bin/Debug/net6.0
/YS.Admin.Business/YS.Admin.Business.AutoJob/bin/Debug/net6.0
/YS.Admin.Business/YS.Admin.Business.AutoJob/obj
/YS.Admin.Business/YS.Admin.Business.Cache/bin/Debug/net6.0
/YS.Admin.Business/YS.Admin.Business.Cache/obj
/YS.Admin.Business/YS.Admin.Service/bin/Debug/net6.0
/YS.Admin.Business/YS.Admin.Service/obj
/YS.Admin.Cache/YS.Admin.Cache.Factory/bin/Debug/net6.0
/YS.Admin.Cache/YS.Admin.Cache.Factory/obj
/YS.Admin.Cache/YS.Admin.Cache.Interface/bin/Debug/net6.0
/YS.Admin.Cache/YS.Admin.Cache.Interface/obj
/YS.Admin.Cache/YS.Admin.MemoryCache/bin/Debug/net6.0
/YS.Admin.Cache/YS.Admin.MemoryCache/obj
/YS.Admin.Cache/YS.Admin.RedisCache/bin/Debug/net6.0
/YS.Admin.Cache/YS.Admin.RedisCache/obj
/YS.Admin.Data/YS.Admin.Data/bin/Debug/net6.0
/YS.Admin.Data/YS.Admin.Data/obj
/YS.Admin.Data/YS.Admin.Data.EF/obj
/YS.Admin.Data/YS.Admin.Data.EF/bin/Debug/net6.0
/YS.Admin.Data/YS.Admin.Data.Repository/bin/Debug/net6.0
/YS.Admin.Data/YS.Admin.Data.Repository/obj
/YS.Admin.Entity/YS.Admin.Entity/bin/Debug/net6.0
/YS.Admin.Entity/YS.Admin.Entity/obj
/YS.Admin.Entity/YS.Admin.Enum/bin/Debug/net6.0
/YS.Admin.Entity/YS.Admin.Enum/obj
/YS.Admin.Entity/YS.Admin.Model/bin/Debug/net6.0
/YS.Admin.Entity/YS.Admin.Model/obj
/YS.Admin.Test/YS.Admin.CacheTest/obj
/YS.Admin.Test/YS.Admin.DataTest/obj
/YS.Admin.Test/YS.Admin.UtilTest/obj
/YS.Admin.Util/YS.Admin.CodeGenerator/bin/Debug/net6.0
/YS.Admin.Util/YS.Admin.CodeGenerator/obj
/YS.Admin.Util/YS.Admin.IdGenerator/bin/Debug/net6.0
/YS.Admin.Util/YS.Admin.IdGenerator/obj
/YS.Admin.Util/YS.Admin.Util/bin/Debug/net6.0
/YS.Admin.Util/YS.Admin.Util/obj
/YS.Admin.Web/YS.Admin.Web/bin/Debug/net6.0/logs
/YS.Admin.Web/YS.Admin.Web/bin
/YS.Admin.Web/YS.Admin.Web/obj
/YS.Admin.Web/YS.Admin.Web/Resource/News/2022/01
/YS.Admin.Web/YS.Admin.Web/upload
/YS.Admin.Web/YS.Admin.Web.Code/bin/Debug/net6.0
/YS.Admin.Web/YS.Admin.Web.Code/obj
/YS.Admin.Web/YS.Admin.WebApi/bin/Debug/net6.0
/YS.Admin.Web/YS.Admin.WebApi/obj
/YS.Admin.Web/YS.Admin.Web/ffmpeg/ffmpeg.exe
/YS.Admin.Web/YS.Admin.Web/ffprobe.exe
